# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]

# IDE
.vscode/
.idea/

# Logs
*.log

# Pytest
.pytest_cache/

# Type Checking
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/